{
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.{json,js,jsx}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.vue": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ]
}
