{
  "*.{ts,tsx}": [
    "eslint --fix",
    "git add"
  ],
  "*.{json,js,jsx}": [
    "eslint --fix",
    "git add"
  ],
  "*.vue": [
    "eslint --fix",
    "stylelint --fix",
    "git add"
  ],
  "*.{scss,less,styl,html}": [
    "stylelint --fix",
    "git add"
  ]
}
