.el-form{
  .el-form-item{
    &:nth-last-child(1){
      margin-bottom: 0px;
    }
  }
}

// el 弹框不知道为啥宽度会变大
.el-popup-parent--hidden {
  overflow: hidden;
  width: 100% !important;
}


// messagebox 样式
.is-message-box {
  .el-message-box { 
    border-radius: 16px;
  }
}

// rounded-tooltip
.rounded-tooltip {
  border-radius: 10px !important;
  display: flex;
  align-items: center;
  height: fit-content;
}
